<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${specialfolder:folder=LocalApplicationData}/WindowsDb2Editor/Logs/tray_internal.log">

  <targets>
    <target xsi:type="File"
            name="fileTarget"
            fileName="${specialfolder:folder=LocalApplicationData}/WindowsDb2Editor/Logs/tray_${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            archiveFileName="${specialfolder:folder=LocalApplicationData}/WindowsDb2Editor/Logs/archive/tray_{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false" />

    <target xsi:type="Console"
            name="consoleTarget"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="fileTarget" />
    <logger name="*" minlevel="Info" writeTo="consoleTarget" />
  </rules>
</nlog>
